# ==========================================================
# MINESHIFT - SUPABASE
# ==========================================================

# Variáveis públicas.
# Estas podem ser utilizadas pelo navegador.

VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SUA_CHAVE


# ==========================================================
# SERVIDOR
# ==========================================================

SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_SUA_CHAVE


# Chave administrativa.
# NUNCA use VITE_ nesta variável.
# NUNCA exponha esta chave no navegador.

SUPABASE_SECRET_KEY=sb_secret_SUA_CHAVE
